.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 5px;
    text-align: center;
    font-size: 0;
    cursor: pointer;
}

img {
    max-width: 100px;
    max-height: 100px;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}